<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="app">
      <main class="todo-app" v-if="!loading">
        <h1>{{title}}</h1>
        <todo-item
          @ondeletitem="handleItemDelet"
          @onedititem="handleItemEdit"
          @ontaskstate="handleTaskState"
          v-for="todo in todoItems"
          :todoprop="todo"
          :key="todo.todoText"
          :finshedTaskState="todo.finshedTaskState"
        >
        </todo-item>
        <new-task @oninserttask="handleNewTask"> </new-task>
      </main>
      <div class="loader" v-if="loading">
        <i class="fas loadeer-icon fa-circle-notch fa-4x"></i>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script src="globelFilters.js"></script>
    <script src="newTask.js"></script>
    <script src="todoItem.js"></script>
    <script src="app.js"></script>
  </body>
</html>
